<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Companies</title>
    <link rel="stylesheet" href="../static/companies.css">
</head>
<body>
    <div class="container">
        <form action="/company/companies" method="get">
            <label for="name">Find by name:</label>
            <input type="text" id="name" name="name">
            <button type="submit">Find</button>
        </form>
        <div th:if="${not #lists.isEmpty(companies)}">
            <h2>Company List</h2>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Delete</th>
                    <th>Update</th>
                </tr>
                <tr th:each="company : ${companies.content}">
                    <td th:text="${company.name}">Name</td>
                    <td><a th:href="${ '/company/deleteCompany/' + company.company_id}">Delete</a></td>
                    <td><a th:href="${ '/company/updateCompany/' + company.company_id}">Update</a></td>
                </tr>
            </table>
        </div>

        <div>
            <ul>
                <li th:if="${companies.hasPrevious()}">
                    <a th:href="${'/company/companies?page=' + (companies.getNumber() - 1)}">&lt; Previous</a>
                </li>
                <li th:each="i : ${#numbers.sequence(0, companies.totalPages - 1)}">
                    <a th:href="${'/company/companies?page=' + i}" th:text="${i + 1}"></a>
                </li>
                <li th:if="${companies.hasNext()}">
                    <a th:href="${'/company/companies?page=' + (companies.getNumber() + 1)}">Next &gt;</a>
                </li>
            </ul>
        </div>

        <div class="link-container">
            <a href="/company/createCompany">Create Company</a><br>
            <a href="/user/users">Show users</a><br>
        </div>
    </div>
</body>
</html>