<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${'Update ' + user.name}"></title>
    <link rel="stylesheet" href="../static/updateuser.css">
</head>
<body>
    <div class="container">
        <h1>Update User:</h1>
        <form th:action="${ '/update/' + user.id}" method="post">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" th:placeholder="${user.name}">
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password">
            </div>
            <div class="form-group">
                <label for="company">Выберите компанию:</label>
                <select id="company" name="company">
                    <option th:each="company : ${companies}" th:value="${company.company_id}" th:text="${company.name}"></option>
                </select>
            </div>
            <button type="submit">Update</button>
            <div>
                <p th:each="error : ${errors}" th:text="${error.getMessage()}"/>
            </div>
        </form>
    </div>
</body>
</html>