<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" href="../static/users.css">
</head>
<body>
<div class="container">
    <div th:if="${not #lists.isEmpty(users)}">
        <h2>User List</h2>
        <table>
            <tr>
                <th>Name</th>
                <th>Company</th>
                <th>View</th>
                <th>Delete</th>
                <th>Update</th>
            </tr>
            <tr th:each="user : ${users}">
                <td th:text="${user.name}">Name</td>
                <td th:text="${user.company.name}">Company name</td>
                <td><a th:href="${ '/user/' + user.id}">View</a></td>
                <td><a th:href="${ '/delete/' + user.id}">Delete</a></td>
                <td><a th:href="${ '/updateuser/' + user.id}">Update</a></td>
            </tr>
        </table>

    </div>

    <div class="link-container">
        <a class="create-user" href="/createuser">Create User</a><br>
        <a class="show-companies" href="/companies">Show companies</a><br>
    </div>
</div>
</body>
</html>