<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" href="../static/users.css">
</head>
<body>
<div class="container">
    <form action="/user/users" method="get">
        <label for="name">Find by name:</label>
        <input type="text" id="name" name="name">
        <button type="submit">Find</button>
    </form>
    <div th:if="${not #lists.isEmpty(users)}">
        <h2>User List</h2>
        <table>
            <tr>
                <th>Name</th>
                <th>Company</th>
                <th>View</th>
                <th>Delete</th>
                <th>Update</th>
            </tr>
            <tr th:each="user : ${users.content}">
                <td th:text="${user.name}">Name</td>
                <td th:text="${user.company.name}">Company name</td>
                <td><a th:href="${ '/user/' + user.id}">View</a></td>
                <td><a th:href="${ '/user/deleteUser/' + user.id}">Delete</a></td>
                <td><a th:href="${ '/user/updateUser/' + user.id}">Update</a></td>
            </tr>
        </table>
    </div>

    <div>
        <ul>
            <li th:if="${users.hasPrevious()}">
                <a th:href="${'/user/users?page=' + (users.getNumber() - 1) + '&name=' + name}">&lt; Previous</a>
            </li>
            <li th:each="i : ${maxPages}">
                <a th:href="${'/user/users?page=' + i  + '&name=' + name}" th:text="${i + 1}"></a>
            </li>
            <li th:if="${users.hasNext()}">
                <a th:href="${'/user/users?page=' + (users.getNumber() + 1) + '&name=' + name}">Next &gt;</a>
            </li>
        </ul>
    </div>

    <div class="link-container">
        <a class="create-user" href="/user/createUser">Create User</a><br>
        <a class="show-companies" href="/company/companies">Show companies</a><br>
    </div>
</div>
</body>
</html>